

.about-maskgroup {
    position: absolute;
    width: 1240px;
    height: 223px;
    left: 100px;
    top: 152px;
    
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;

    

}

.rule {
    display: flex;
    width: 1240px;
    flex-direction: column;
    justify-content: space-between;
    top: 484px;
    left: 208px;
    position: absolute;
}

.theme {
    display: flex;
    height: 47px;
    width: 1023px;

    left: 0px;
    top: 0px;
    border-radius: 5px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    border-radius: 5px;
}
/*
.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
*/


.text {
    height: 146px;
    width: 1023px;
    left: 0px;
    top: 38px;
    border-radius: 5px;
    
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */


    color: #FF6060;
}