
.card {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF6060 0%,  #FF6060 60%, rgba(0, 0, 0, 0.6) 100%);
    display: flex;
    margin: 30px;
    text-decoration: none;   
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration-line: unset;
    position: relative;
    top: 70%;
    margin-left: 20px;

}


/*====================media queries=================*/

@media screen and (max-width: 1380px) {

}

@media screen and (max-width: 992px) {

}


@media screen and (max-width: 440px) {
    .card {
        margin: 20px 0px;
        width: 100%;
        height: 280px;
    }
    
}

