.description {
    width: 100%;
    height: auto;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #FF6060;
    border-radius: 5px;
}

.right {
    flex: 10%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.right:active > .title {
    color: black;
}

.title {
    flex: 90%;
    padding-left: 20px;
    color: white;
}

.vector {
    width: 20px;
    height: auto;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

.content {
    width: 100%;
    display: flex;
    border-radius: 10px;
    color: #FF6060;
    padding-left: 20px;
    margin-top: 15px;
}

@media screen and (max-width: 440px) {

    .vector {
        width: 10px;
    }
}


