@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');



body {
    margin: 0;
    padding: 0;
}

.error {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    color: #FF6060;
    margin: 20px;

}

.code {
    font-style: normal;
    font-weight: 700;
    font-size: 300px;
    line-height: 400px;
    margin-top: 150px;
}

.message {
    height: 51px;
    place-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    display: flex;
    align-items: flex-end;
}

.link {
    height: 26px;
    width: auto;
    place-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #FF6060;
    margin-top: 150px;
    margin-bottom: 200px;
}


@media screen and (max-width: 990px) {
    .error {
        width: 96%;    
        margin: 10px;
    }
    .code {
        font-size: 180px;
        line-height: 100px;
    }
    .message {
        font-size: 28px;
        text-align: center;
    }
    .link {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .error {
        width: 96%;    
        margin: 10px;
    }
    .code {
        font-size: 130px;
        line-height: 100px;
    }
    .message {
        font-size: 20px;
        text-align: center;
    }
    .link {
        font-size: 16px;
    }
}

@media screen and (max-width: 440px) {
    .error {
        width: 96%;    
        margin: 10px;
    }
    .code {
        font-size: 100px;
        line-height: 100px;
    }
    .message {
        font-size: 22px;
        text-align: center;
    }
    .link {
        font-size: 16px;
    }
}