.error {
    height: 263px;
    width: 597px;
    left: 432px;
    top: 100px;
    position: absolute;
    border-radius: 0px;
    border: black solid 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    /* or 411px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FF6060;

}

.message {
    height: 51px;
    width: 872px;
    left: 400px;
    top: 606px;
    position: absolute;
    border-radius: nullpx;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    /* or 51px */

    display: flex;
    align-items: flex-end;

    color: #FF6060;
}

.link {
    height: 26px;
    width: 284px;
    left: 578px;
    top: 839px;
    border-radius: nullpx;
    position: absolute;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* identical to box height, or 26px */

    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;

    color: #FF6060;
}