.header {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 15px;
}

.navbar {
    width: 30%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.logo {
    width: 25%;
    max-width: 200px;
    height: auto;
}



.title {
    width: 50%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    text-align: right;
    text-decoration-line: unset;
}

.title:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .navbar {
        width: 35%;
    }
    .logo {
        width: 35%;
    }
    .title {
        font-size: 20px;
    }
}


@media screen and (max-width: 600px) {
    .navbar {
        width: 40%;
    }
    .logo {
        width: 35%;
    }
    .title {
        font-size: 18px;
    }
}




@media screen and (max-width: 440px) {
    .navbar {
        width: 40%;
    }
    .logo {
        width: 35%;
    }
    .title {
        font-size: 14px;
    }
}