.body {
    
    display: flex;
    flex-direction: column;
    width: 1240px;
    left: 100px;
    top: 171px;
    position: absolute;


}

section {
    height: 223px;
    width: 1240px;
    left: 0px;
    top: 0px;
    position: absolute;

}

.home-maskgroup {
    height: 223px;
    width: 1240px;
    left: 0px;
    top: 0px;
    position: absolute;

}

.title {
    position: absolute;
    left: 25.9%;
    right: 25.14%;
    top: 40%;
    bottom: 69.04%;    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    /* or 68px */

    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}