@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.housing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;

}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: top;
}

.mainTitle {
    flex: 80%;
    flex-direction: column;
    justify-content: top;;

}

.location {
    font-size: 20px;
    color: #FF6060;
}

.title {
    font-size: 36px;
    font-weight: 400;
    color: #FF6060;
}

.descriptionTitle {
    font-size: 28px;
    font-weight: 500;
    color: white;
    background-color: #FF6060;
    margin: 5%;
    border-radius: 10px;
}

.equipmentTitle {
    font-size: 28px;
    font-weight: 500;
    color: white;
    background-color: #FF6060;
    margin: 5%;
    border-radius: 10px;
}



.location {
    font-size: 16px;
    font-weight: 400;
}

.tags {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;    
    justify-content: left;
    margin-bottom: 20px;    
}

.tagsItem {
    display: flex;
    width: auto;
    padding: 0px 25px;
    height: 25px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.mainHost {
    flex: 20%;
    flex-direction: column;
    justify-content: top;

}

.host {
    display: flex;
    flex-direction: row;
    justify-content: right;

}

.left {
    flex: 50%;

}

.hostName {
    flex: 30%;
    font-size: 20px;
    text-align: right;
    display: grid;
    place-items: center right;
    color: #FF6060;

}

.hostImg {
    flex: 20%;
    width: 50px;
    height: auto;
    margin-left: 5px;

}

.rating {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    color: orange;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.equipments {
    list-style-type: none;
    font-size: 24px;
    font-weight: 300;
    background-color: rgb(245, 245, 245);
}

.collapse {
    width: 45%;
    min-width: 400px;
}

.description {
    width: 100%;
    min-width: 350px;
    height: auto;
    font-size: 24px;
    font-weight: 300;
    color: #FF6060;
}


/*====================media queries=================*/

@media screen and (max-width: 1380px) {

}

@media screen and (max-width: 990px) {
    .details {
        flex-direction: column;
    }

    .collapse {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {

}


@media screen and (max-width: 600px) {
    .title {
        font-size: 24px;
    }
}

@media screen and (max-width: 450px) {
    .main {
        flex-direction: column;
    }
    .mainHost {
        flex-direction: row-reverse;
    }
    .hostName {
        font-size: 16px;
    }
    .hostImg {
        width: 20px;
        height: auto;
    }

    .tagsItem {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .details {
        flex-direction: column;
    }
    .descriptionTitle {
        font-size: 16px;
    }

    .equipmentTitle {
        font-size: 16px;
    }
    .description{
        font-size: 16px;
    }
    .equipments {
        font-size: 16px;
    }

    .collapse {
        width: 100%;
    }

}



