@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.housing {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: red 2px solid;
}

.housing .carousel {
    width: 90%;
    height: 300px;
    margin-top: 30px;

}

.carousel .carouselInner {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}



.carouselInner .left {
    flex: 5%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.carouselInner .center {
    flex: 90%;
    height: 100%;
}

.carouselInner .right {
    flex: 5%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    display: grid;
    place-items: center;
    cursor: pointer;
}