@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

body {
    margin: 0;
    padding: 0;
}

.housing {
    width: 96%;
    margin: 20px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;

}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: top;
    margin: 20px 0px;
}


.mainTitle {
    flex: 80%;
    flex-direction: column;
    justify-content: top;

}

.title {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}

.location {
    font-size: 20px;
    color: #FF6060;
}

.tags {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;    
    justify-content: left;
    margin-bottom: 20px;    
}


.tagsItem {
    display: flex;
    width: auto;
    padding: 0px 25px;
    height: 25px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

.location {
    font-size: 16px;
    font-weight: 400;
}

.mainHost {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.host {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: auto;
}


.hostName {
    width: 40%;
    font-size: 20px;
    text-align: right;
    display: grid;
    place-items: center right;
    color: #FF6060;

}

.hostImg {
    display: flex;
    width: 40%;
    height: auto;
    margin-left: 5px;
    display: grid;
    place-items: center;

}

.rating {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list {
    list-style-type: none;
}




/*====================media queries=================*/


@media screen and (max-width: 990px) {
    .title {
        font-size: 26px;
        font-weight: 500;
        color: #FF6060;
    }
    .details {
        flex-direction: column;
    }
}

@media screen and (max-width: 750px) {

}


@media screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }
    .hostName {
        width: 50%;
        font-size: 14px;   
    }
    .hostImg {
        width: auto;
        height: auto;   
    }
}

@media screen and (max-width: 440px) {
    .housing {
        width: 96%;    
        margin: 10px;
    }
    .main {
        flex-direction: column;
    }
    .mainTitle {
        width: 100%;
    }  
    .title {
        font-size: 18px;
        font-weight: 500;
        color: #FF6060;
    }

    .location {
        font-size: 12px;
        font-weight: 400;
    }

    .tagsItem {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .mainHost {
        width: 100%;
        flex-direction:row-reverse;
        justify-content: space-between;
    }
    .host {
        width: 35%;
        justify-content: space-between;

    }

    .rating {
        width: 50%;
        justify-content: left;

    }

    .hostName {
        width: 5%;
        font-size: 14px;
    }
    .hostImg {
        width: auto;
        height: auto;
    }
    .details {
        flex-direction: column;
    }

}



