.rating {
    color: #ff6060;
    width: 30px;
    height: auto;
    margin: 5px;
}

.notRating {
    color: grey;
    width: 30px;
    height: auto;
    margin: 5px;
}

@media screen and (max-width: 1050px) {
    .rating {
        width: 20px;
        margin: 4px;
    }
    
    .notRating {
        width: 20px;
        margin: 4px;
    }
}

@media screen and (max-width: 600px) {
    .rating {
        width: 14px;
        margin: 2px;
    }

    .notRating {
        width: 14px;
        margin: 2px;
    }

}

@media screen and (max-width: 440px) {
    .rating {
        width: 10px;
        margin: 2px;
    }

    .notRating {
        width: 10px;
        margin: 2px;
    }

}
